# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
build/
dist/
*.egg-info/

# VSCode
.vscode/

# JetBrains
.idea/

# Node/Vue3 前端
/node_modules
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.cache/
frontend/.parcel-cache/
frontend/.next/
frontend/out/
frontend/.nuxt/
frontend/.yarn-integrity

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Others
*.bak
*.swp



